.App {
    text-align: center;
    background-color: #222222;
    color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Stylizacja scrollbara */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.58);

}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::-webkit-scrollbar-button {
  display: none;
}


/*.white ::-webkit-scrollbar-track {*/
/*  background: #cbcbcb;*/
/*}*/

/*.white ::-webkit-scrollbar-thumb {*/
/*  background: #9f9f9f;*/

/*}*/

/*.white ::-webkit-scrollbar-thumb:hover {*/
/*  background: #818181;*/
/*}*/